/* Write your CSS code here */
.contact-card {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-img {
  height: 200px;
  width: 200px;
}
.contact-text {
  font-size: 35px;
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .contact-img {
    height: 40%;
    width: 60%;
  }
  .contact-text {
    font-size: 55px;
  }
}
